body{

margin:0;

font-family:

Arial,
"Noto Sans TC",
sans-serif;

background:#f2f3f5;

color:#333;

}



header{

background:#c8102e;

color:white;

text-align:center;

padding:25px;

}



h1{

margin:0;

}



main{

max-width:600px;

margin:auto;

padding:15px;

}



.card{

background:white;

border-radius:18px;

padding:20px;

margin-bottom:15px;

box-shadow:
0 4px 12px rgba(0,0,0,.08);

}



button{

background:#c8102e;

color:white;

border:0;

padding:12px 18px;

border-radius:10px;

margin-top:10px;

cursor:pointer;

}



input{

width:100%;

padding:14px;

border-radius:10px;

border:1px solid #ccc;

font-size:16px;

}



.dayButton{

display:block;

width:100%;

text-align:left;

margin:6px 0;

background:#222;

}



.wordCard{

border-left:

5px solid #c8102e;

padding-left:15px;

margin-bottom:20px;

}



.word{

font-size:32px;

font-weight:bold;

color:#c8102e;

}



.chinese{

font-size:20px;

}



.pronunciation{

color:#666;

}



footer{

text-align:center;

padding:20px;

color:#777;

font-size:13px;

}
